* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: relative;
  background-color: rgb(241, 241, 241);
  border-radius: 50px;
  border: none;
  height: 560px;
  justify-content: center;
  width: 900px;
}

body {
  background-color: black;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
}

.game-content {
  display: flex;
  align-items: center;
}

.player,
.computer {
  width: 300px;
  padding: 0px 20px;
  height: 250px;
  background-color: white;
  border-radius: 50px;
  margin: 50px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 20px rgba(1, 1, 1, 0.6);
}

h1 {
  font-size: 40px;
}

.choose {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  border: none;
  font-size: 25px;
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 3px 20px rgba(1, 1, 1, 0.6);
}

.winner {
  color: black;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.results {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 230px;
}

.header {
  display: flex;
}

.results p {
  color: black;
  font-size: 40px;
  margin-left: 5px;
}

@media screen and (max-width: 814px) {
  .player,
  .computer {
    width: 200px;
    height: 160px;
    margin-top: 10px;
  }
  .winnerone,
  .winnertwo {
    font-size: 28px;
  }
  .results {
    top: 160px;
  }
  .results p {
    font-size: 32px;
  }
  .choose {
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }

  .choose button {
    font-size: 19px;
  }

  .winner {
    font-size: 27px;
  }
}

@media screen and (max-width: 618px) {
  .player,
  .computer {
    margin: 40px;
    width: 170px;
    height: 140px;
    margin-top: 0px;
  }

  .results {
    top: 10px;
  }

  .winner {
    margin-bottom: 0px;
    font-size: 25px;
    position: relative;
    top: 15px;
  }

  .results p {
    font-size: 28px;
  }

  .game-content {
    margin-top: 40px;
  }
}

@media screen and (max-width: 547px) {
  .winner {
    font-size: 25px;
    position: relative;
    top: -10px;
  }

  .game-content {
    margin-top: 0px;
  }
}

@media screen and (max-width: 507px) {
  .choose button {
    width: 70%;
  }

  .winnerone,
  .winnertwo {
    font-size: 22px;
  }
  .game {
    padding: 0px 20px;
  }

  .game-content {
    width: 100%;
    justify-content: center;
  }

  .winner {
    margin-bottom: 20px;
  }

  .player {
    margin: 0px 25px 20px 0px;
    width: 100%;
    border-radius: 20px;
    height: 100px;
  }

  .computer {
    border-radius: 20px;
    height: 100px;
    margin: 0px 0px 20px 25px;
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .winnerone,
  .winnertwo {
    font-size: 22px;
  }

  .winner {
    top: 0px;
  }
}
@media screen and (max-width: 387px) {
  .winnerone,
  .winnertwo,
  .choose button {
    font-size: 18px;
  }

  .player,
  .computer {
    height: 80px;
  }
  .winner {
    top: -10px;
  }
}

@media screen and (max-width: 335px) {
  .winnerone,
  .winnertwo {
    font-size: 16px;
  }
}
